<!-- Search bar -->
<div class="jumbotron theme-block margin-bottom">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">search!</button>
              </span>
            </div>
        </div>
    </div>
</div>

<!-- Tiles -->
<section>
    <div class=theme-block ">
        <div ng-repeat="boat in main.list">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 theme-block">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/xYN6Wie.gif" alt="...">
                    <div class="caption">
                        <h3 class="tile">{{ boat.title }}</h3>
                        <p class="tile">{{ boat.description }}</p>
                        <p class="tile"><i class="fa fa-users"></i> {{ boat.capacity }}</p>
                        <p class="tile text-center tile-price">{{ boat.price }}/hr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

