<!DOCTYPE html>
<html ng-app="boatApp">
    <head>
        <title>SoCal Boat Rentals</title>
        <!-- Anchor/Brand Favicon -->
        <!-- <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
        <!-- Set mobile responsiveness -->
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

        <!-- boat, yacht, rental, -->
        <meta name="description" content="Your HQ for finding the perfect boat! Invite your party to split payment and enjoy a great time on the water!" />
        <meta name="keywords" content="online, boat, rentals, san diego, mission, bay, fishing, diving, boat party, boating, sailing, yachts, boats," />
        <meta name="author" content="metatags generator">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">

        <!-- jquery, Bootstrap.css, bootstrap.js, Custom CSS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type ="text/css" />
        <link rel="stylesheet" href="/main.css" type="text/css" />
        
        <!-- angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.1/ng-file-upload.js"></script>
        
        <!-- Custom JS -->
        <script src="/js/controller.js"></script>
        <script src="/js/factory.js"></script>

    </head>
    <body ng-controller="mainController as main">
    <!-- Begin Nav Bar -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top theme">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><i class="nav_logo fa fa-anchor fa-2x"></i></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><button type="button" class="btn btn-primary navbar-btn" onclick="location.href='/marketplace'">Find your boat!</button></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbarPadding">
                        <li role="separator" class="divider"></li>
                        <li><button type="button" class="btn btn-primary navbar-btn" onclick="location.href='/dashboard'">For Business</button></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Begin Form -->
		<div class="theme-block">
			<div class="container form-group">
				<div class="row">
					<form ng-submit="main.createBoat()">
						<div class="col-xs-12">
							<h2>Tell us about the rental:</h2>
							<div class="row">
								<div class="form-group col-xs-12 col-md-4">
									<input ng-model="main.newBoat.title" type="text" class="form-control " required="yes" placeholder="Title">
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12 col-md-4">
									<textarea ng-model="main.newBoat.description" type="text" class="form-control" required="yes" placeholder="Description"></textarea>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12 col-md-2">
                                    <select class="form-control" ng-model="main.newBoat.type" required="yes" placeholder="">
                                        <option value="" selected disabled>Choose a type</option>
                                        <option value="power boat">Power Boat</option>
                                        <option value="sail boat">Sail Boat</option>
                                    </select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12 col-md-2">
                                    <select class="form-control" ng-model="main.newBoat.location" required="yes" placeholder="">
                                        <option value="" selected disabled>Choose Location</option>
                                        <option value="Mission Bay">Mission Bay</option>
                                        <option value="San Diego Bay">San Diego Bay</option>
                                    </select>
								</div>
							</div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-md-4">
                                    <input ng-model="main.newBoat.address" type="text" class="form-control" required="yes" placeholder="Address">
                                </div>
                            </div>

							<div class="row">
								<div class="form-group col-xs-12 col-md-4">
									<input ng-model="main.newBoat.capacity" type="text" class="form-control" required="yes" placeholder="Capacity">
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12 col-md-4">
									<input ng-model="main.newBoat.price" type="text" class="form-control" required="yes" placeholder="Price per hour">
								</div>
							</div>
						
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-4">
                                    <label for="">Upload an Image</label>
                                    <input type="file" ng-model="main.newBoat.image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-select="" required="yes">
                                </div>
                            </div>
                        </div>    
                        <button type="submit" class="btn btn-primary navbar-btn">Submit</button>
					</form>
				</div>
			</div>
		</div>

        <section class="theme-block" ng-init="main.getUserBoats()">
            <div class="container">
                <h3 class="theme-block"> Your boats: </h3>
                <div ng-repeat="boat in main.boatList">
                    <div class="col-xs-12 col-sm-3">
                        <a ng-href="/details/{{boat._id}}">
                        <div class="thumbnail">
                            <img class="tile-image" ng-src="{{boat.image}}" />
                            <div class="caption">
                                <h3 class="tile">{{ boat.title }}</h3>
                            </div>
                            </a>

                            <button ng-click="main.deleteUserBoats({_id:boat._id})">Delete</button>
                        </div>
                                            </div>
                </div>
            </div>
        </section>

    </body>

</html>