<!DOCTYPE html>
<html ng-app="loginApp">
    <head>
        <title>SoCal Boat Rentals</title>
        <!-- Anchor/Brand Favicon -->
        <!-- <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
        <!-- Set mobile responsiveness -->
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

        <!-- boat, yacht, rental, -->
        <meta name="description" content="Your HQ for finding the perfect boat! Invite your party to split payment and enjoy a great time on the water!" />
        <meta name="keywords" content="online, boat, rentals, san diego, mission, bay, fishing, diving, boat party, boating, sailing, yachts, boats," />
        <meta name="author" content="metatags generator">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">

        <!-- jquery, Bootstrap.css, bootstrap.js, Custom CSS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type ="text/css" />
        <link rel="stylesheet" href="main.css" type="text/css" />
        
        <!-- angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
        
        <!-- Custom JS -->
        <script src="/js/loginController.js"></script>
        <script src="/js/lib/pwdValidator.js"></script>
        
    </head>

    <body>

        <!-- Begin Nav Bar -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top theme">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><i class="nav_logo fa fa-anchor fa-2x"></i></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><button type="button" class="btn btn-primary navbar-btn" onclick="location.href='/marketplace'">Find your boat!</button></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbarPadding">
                        <li role="separator" class="divider"></li>
                        <li><button type="button" class="btn btn-primary navbar-btn" onclick="location.href='/dashboard'">For Business</button></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="row ">
        <div class="container" ng-controller="loginController as login">
            <form class="form-signin" ng-submit="login.submit()">
                <h2 class="form-signin-heading">Sign In</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" ng-model="login.email" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" ng-model="login.password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>   
        <!-- Register -->
        <!-- <div ng-controller="registerController as register">
            <form id="register" ng-submit="register.submit()">
                <input type="email" ng-model="register.email" placeholder="Email" required="yes"/>
                <input type="password" placeholder="Password"name="pass1" id="pass1">
                <input type="password" ng-model="register.password" placeholder="Confirm Password" name="pass2" id="pass2" onkeyup="checkPass(); return false;">
                <span id="confirmMessage" class="confirmMessage"></span>
        
                <input type="text" ng-model="register.firstname" placeholder="First Name" required="yes"/>
                <input type="text" ng-model="register.lastname" placeholder="Last Name" equired="yes"/>
                <input type="date" ng-model="register.birthday" placeholder="Birthday" required="yes"/>
                <button type="submit">Register</button>
            </form>
        </div> -->
    </body>
</html>