<div class="theme-block">
	<div class="container theme-block" style="margin-top: 10px;">
		<div class="row">
			<form ng-submit="main.addBoat()">
				<div class="col-xs-12">
					<h2><u>Tell us about the rental</u></h2>
					<div class="row">
						<div class="form-group col-xs-12 col-md-8">
							<label for="">Title</label>
							<input ng-model="main.title" id="" type="text" class="form-control" placeholder="Name" required="yes">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-xs-12 col-md-8">
							<label for="">Description</label>
							<input ng-model="main.description" type="text" class="form-control" placeholder="Description" required="yes">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-xs-12 col-md-4">
							<label for="">Capacity</label>
							<input ng-model="main.capacity" type="text" class="form-control" placeholder="Address" required="yes">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-xs-12 col-md-4">
							<label for="">Price</label>
							<input ng-model="main.price" type="text" class="form-control" placeholder="$150" required="yes">
						</div>
					</div>
				
				<div class="row">
					<div class="form-group col-xs-12 col-md-4">
						<label for="">Telephone</label>
						<input ng-model="main.telephone" type="telephone" class="form-control" placeholder="555-555-5555" required="yes">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<label for="">E-mail</label>
						<input type="main.email" class="form-control" placeholder="name@domain.com" required="yes">
					</div>
				</div>
				<button type="submit" class="btn btn-primary navbar-btn">Submit</button>
				<br/><br/><br/>
			</form>
		</div>
	</div>
</div>
