<!-- Weather API -->
<div ng-controller="weatherAPI as weather" class="marquee theme-block">
    <div>
        <span>
        {{weather.forecast.name}}, 
        {{weather.forecast.skies}}, 
        {{weather.forecast.temp}}F,  
        {{weather.forecast.wind}}mph
        </span>
    </div>
</div>

<!-- intro -->
<section class="viewport-height">
	<div class="jumbotron theme-block margin-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 text-center">
					<div>
						<h1>Aquatiq</h1>
					</div>
					<div>
						<p>Boating made simple and affordable.</p>
						<p><br/></p>
					</div>
					<div>
						<button class="btn btn-default btn-primary btn-lg btn-block" type="button">Find your boat!</button>
						<p><br/></p>
					</div>
				</div>
				<!-- Video -->
				<div class="col-xs-12 col-sm-7 text-center">
					<video class="text-center video-custom" controls autoplay>
						<source src="https://www.dropbox.com/s/cwpm7zdozbxt3hg/boatvideo.mp4?dl=1" type="video/mp4"  />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- product description -->
<section class="theme-block">
	<div class="container">
		<!-- Start Row -->
		<div class="row">
			<div class="col-sm-4 col-xs-12 text-center">
				<!-- <div class="icon-outline">
					<span></span>
				</div> -->
				<div>
					<h3>1. Pick your boat</h3>
					<p>Fishing, Diving, Partying, Booze Cruisin... we work with only the best professionally-maintained fleets</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 text-center">
				<!-- <div>
					<span></span>
				</div> -->
				<div>
					<h3>2. Invite friends</h3>
					<p>Round up your crew by sharing the link to checkout page via text, social media or email!</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 text-center">
				<!-- <div >
					<span ></span>
				</div> -->
				<div>
					<h3>3. Split payment</h3>
					<p>Have all of your friends pitch in! A day on the water with friends is more affordable than ever!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Brent -->
<section class="content-block">
	<div class="container">
		<div class="underlined-title text-centerS">
			<div>
        		<!-- <h1>Say hello to the team</h1> -->
			</div>
    		<hr>
    	</div>
		<div class="row">
            <div class="col-sm-4 team-member-wrap">
				<div class="team-member">
					<img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t1.0-9/12963909_1564898833802644_4206056668361240115_n.jpg?oh=1dc49bc6b6473131d481fc096254542f&oe=58662294" class="img-responsive round-border" alt="Brent">
					<div>
						<div >
							<h4 class="member-name">Brent Vossler</h4>
						</div>
						<div >
							<p class="position">Co-founder & CEO | <a href="https://facebook.com/brent.vossler.3"><i class="fa fa-facebook"></i></a> | <a href="https://twitter.com/brent_vossler"><i class="fa fa-twitter"></i></a> | <a href="http://www.brentvossler.com">blog</a></p>
						</div>
						<div >
							<p>Commercial fisherman. Navy. Army. Business Education. Developer. Web Technology, Robotics, Boats, Cars and Motorcycles. Vegas. Diving. Spearfishing.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- phil -->
            
            <div class="col-sm-4 team-member-wrap">
				<div class="team-member">
					<img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t1.0-9/13510757_944586945657847_704650890471054016_n.jpg?oh=a00da9caa5ea2478139965c231c76ad0&oe=58A15C52" class="img-responsive round-border" alt="Phil">
					<div class="team-details">
						<div>
							<h4 class="member-name">Phil Percesepe</h4>
						</div>
						<div>
							<p class="position">Co-Founder & COO | <a href="https://facebook.com/philip.percesepe"><i class="fa fa-facebook"></i></a></p>
						</div>
						<div>
							<p>New York. Marine Corps. Yankees.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- harambe -->
			<div class="col-sm-4 team-member-wrap">
				<div class="team-member">
					<img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t1.0-9/14358731_1697913263868091_3185928771237471966_n.jpg?oh=1adecb9327415f36078c0fa3647145e8&oe=58A45FDD" class="img-responsive round-border" alt="Harambe">
					<div class="team-details">
						<div class="editContent">
							<h4 class="member-name">Harambe</h4>
						</div>
						<div>
							<p class="position">Carcass | <a href="https://facebook.com/Harambethesaviour"><i class="fa fa-facebook"></i></a></p>
						</div>
						<div>
							<p>Neglectful mothers killed me. Keep your kids on a leash.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.team-member-wrap -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
 
<!-- Subscribe & Intro section -->
<section class="margin-bottom">
	<div class="jumbotron theme-block margin-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div>
						<h1 style="">Stay in touch!</h1>
					</div>
					<div>
						<p>Scriptin' ain't easy! We expect to be ready for launch in spring of 2017 in the San Diego and Orange Country area of Southern California. Fill in the form to stay in the loop and cheer us on!</p>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="form-group">
								<input type="text" placeholder="First name" class="form-control">
							</div>
						</div>
						<div class="col-sm-6 col-xs-12">
							<div class="form-group">
								<input type="text" placeholder="Last name" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email address" class="form-control">
					</div>
					<a class="btn btn-primary btn-block">Subscribe!</a>
				</div><!-- /.col -->
				<div class="col-sm-6 col-xs-12">
					<p><br/></p>
					<div class="video-wrapper">
						<video class="text-center video-custom" controls>
							<source src="https://www.dropbox.com/s/00wbvb162rsaqog/intro.mov?dl=1" type="video/mp4"  />
							Your browser does not support the video tag.
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


    
